/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"); */

@font-face {
  font-family: "rajdhani";
  src: url("../police/Rajdhani-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Rajdhani";
  font-size: 36px;
  font-weight: 400;
}
button {
  font-family: "Rajdhani";

  font-size: 20px;
  font-weight: 400;
}
h2 {
  font-size: 12px;
  font-weight: 600;
}
.container {
  width: 80%;
  margin: 0 auto;
}
body {
  background-color: black;
  color: white;
  font-family: "Space Grotesk";
  font-weight: 300;
  opacity: 0.4;
}

.up-bar {
  border-top: 2px solid #727272;
  position: relative;
  top: 132px;
  width: 85%;
  left: 102px;
}

:root {
  --yellow-color: #ffff00;
  --yellow-light: #f8f184;
  --blue-color: #19587d;
  --white-color: #ffffff;
  --gradient-white: #eddebf89;
  --gradient-Red: #89000977;
  --black-color: #000000;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
ul {
  list-style: none;
}
nav ul li a {
  color: var(--white-color);
  font-size: 25px;
  font-weight: 500;
  font-family: "rajdhani";
  text-decoration: none;
}
nav ul li a:hover {
  color: var(--yellow-color);
}
.logo:hover {
  -webkit-filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg)
    brightness(109%) contrast(104%);
  filter: invert(4%) sepia(100%) saturate(1680%) hue-rotate(352deg)
    brightness(109%) contrast(104%);
}
/* design de la partie entete hero */
#hero {
  background-image: url("../assets/Illustrations-20231010T213724Z-001/Illustrations/Bathome1.png");
  height: 800px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #19587d;
  background-size: cover;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 150px;
}
#hero .titre {
  margin: 20px 0;
}
.btn {
  text-decoration: none;
  color: var(--white-color);
  font-size: 22px;

  padding: 10px 50px;
  background: linear-gradient(
    80deg,
    var(--gradient-white),
    var(--gradient-Red)
  );
  box-shadow: var(--black-color) 15px 15px 40px;
  margin-top: 10px;
}
.cta {
  display: flex;
}
#hero .fleche {
  display: block;
  margin: 0 auto;
  margin-top: 255px;
}
.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 80px;
  top: 240px;
}
.scroll .social {
  margin-top: 15px;
}

/* design de la partie batman personnage */
#batman-cinema,
#batman-justice-league {
  margin-top: 40px;
}
.batman-personnage {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}
#batman-cinema .titre,
#batman-justice-league .titre {
  text-transform: uppercase;
  font-weight: bold;
  margin: 30px 0;
}
#batman-cinema .description,
#batman-justice-league .description,
#neamsis .description {
  margin-bottom: 40px;
  text-align: justify;
  width: 80%;
  font-size: 21px;
}
#batman-cinema .personnage-info {
  text-align: center;
}

.gallery {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}
#neamsis .titre {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin: 30px 0;
}
#neamsis .gallery {
  display: flex;
}
/* Design de la partie multimedia */
#multimedia button {
  position: relative;
  top: 155px;
  background: none;
  border: none;
}
#multimedia button.right {
  right: -85%;
}
#multimedia .yellow {
  color: yellow;
  font-weight: bold;
}

#multimedia .slider-multimedia {
  display: flex;
  width: 60%;
  margin: 40px auto;
}
#multimedia .slider-image {
  width: 100%;
}
#multimedia .slider-content {
  padding: 15px;
  background-color: #727272;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
#multimedia p {
  font-size: 14px;
}

/* Design de la partie contact - formulaire */
#contact {
  background-color: darkslategray;
  padding: 70px 0;
}
#contact .form {
  width: 50%;
  margin: 0 auto;
}
#contact h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}
#contact .titre {
  display: block;
  margin: 28px 0;
}
#contact .form input[type="email"],
textarea {
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;

  border-bottom: 2px solid rgb(120, 120, 120);
  background-color: transparent;
  width: 80%;
  padding: 10px 0;
}
#contact .icon img {
  transform: rotate(90deg);
  width: 20px;
}
#contact .news {
  margin-top: 15px 0;

  border-bottom: 2px solid rgb(120, 120, 120);
}
#contact {
  background-color: darkslategray;
  padding: 70px 0;
}
#contact .form {
  width: 50%;
  margin: 0 auto;
}
#contact h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}
#contact .titre {
  display: block;
  margin: 28px 0;
}
#contact .form input[type="email"],
textarea {
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;

  border-bottom: 2px solid rgb(120, 120, 120);
  background-color: transparent;
  width: 80%;
  padding: 10px 0;
}
#contact .icon img {
  transform: rotate(90deg);
  width: 20px;
}
#contact .news {
  margin-top: 15px 0;

  border-bottom: 2px solid rgb(120, 120, 120);
}
::-webkit-input-placeholder {
  color: #f8f184;
  font-size: 15px;
}
::-moz-placeholder {
  color: #f8f184;
  font-size: 15px;
}
:-ms-input-placeholder {
  color: #f8f184;
  font-size: 15px;
}

::placeholder {
  color: #f8f184;
  font-size: 15px;
}
.btn-group {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.form input[type="radio"] {
  background-color: #000000;
  opacity: 0;
}
.btn-group label {
  cursor: pointer;
  border: 2px solid;
  padding: 10px;
  border-image: linear-gradient(69deg, red, blue) 1;
  -o-border-image: linear-gradient(69deg, red, blue) 1;
  font-size: 20px;
}
input[type="submit"] {
  display: block;
  width: 230px;
  margin: 25px auto;
  padding: 15px 0;
  cursor: pointer;
}
#citation {
  margin: 90px;
}
#citation .citation-carte {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#citation .citation-auteur {
  font-size: 14px;
  font-family: "radjhani";
}
#citation .guillemet-close {
  float: right;
}
/* Design du footer */

footer {
  margin-top: 162px;
}
footer .text-footer {
  text-align: center;
  font-size: 14px;
}
footer .social-footer {
  text-align: center;
  margin: 50px;
}
footer .social-item {
  padding: 15px;
}

/* 
/* .section1 {
  text-align: center;
}
.gallery {
  text-align: center; 
}


.gallery-item {
  display: inline-block;

  margin: 10px; 
  vertical-align: top;
  text-align: left; 
}

li {
  list-style: none;
} */
/* body {
  background-image: url("../assets/Illustrations-20231010T213724Z-001/Illustrations/Bathome1.png");
}
p,
h1,
h2,
h3,
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: brown; */

/* nav {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  border-bottom: 1px solid #fffefe;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
} */
/* .section1 {
  margin-top: 100px;
}
.section1 p {
  font-size: 20;
  font-weight: 100;
} */
/* .buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 400px;
  margin-right: 400px;
}
.buttons a {
  background-color: rgb(191, 190, 190);
  padding: 12px;
}
.logo img {
  margin-top: 200px;
} */
/* .section2 {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: black;
  border: 1px solid gray;
  padding: 100px;
}
.footer1 {
  background-color: rgb(132, 169, 96);
} */
/* .Citation {
  background-color: black;
  padding: 120px;
  height: 600px;
  margin: 20px;
  margin-bottom: 120px;
} */
/* .Citation p {
  color: white;
}
.sidebar {
  float: right;
  margin: 20px;
}
.img2 {
  float: right;
} */
