@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face{
    font-family: 'rajdhani' ;
    src: url(../police/Rajdhani-Medium.ttf);
}
:root{
    --yellow-color: #FFFF00;
    --yellow-light: #F8F184;
    --bleu-color: #19587d; 
    --white-color: #ffffff;
    --gradient-white: #EDDEBF;
    --gradient-red: #89000978;
    --gradient-black: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: "rajdhani";
    font-size: 36px;
    font-weight: 400;

}
button{
    font-family: "rajdhani";
    font-size: 20px;
    font-weight: 400;

}
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    background-color: black;
    color: white;
    font-family: 'space Grotesk';
    font-weight: 300;
}
/*Design de la navigation*/


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px 0;
}
{
    ul{
        list-style: none;
    }
}
ul a{
    color: var(--white-color);
    font-size: 30px;
    font-weight: 500;
    font-family: 'rajdhani';
}
nav ul a:hover{
    color: var(--yellow-color)
}
/*Design de la partie en tete hero*/


#hero {
    background-image: url(../Illustrations/Bathome1.png);
    background-size: cover;
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #19587d; 
    background-size: cover;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}
#hero .titre{
margin: 20px 0;
}


.btn {
    text-decoration: none;
    color: var(--white-colore);
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    background: linear-gradient(80deg, var(--gradient-white), var(--gradient-red)
    
    );
    box-shadow: var(--black-color) 15px 15px 40px;
}


.hero .fleche{
    display: block;
    margin: 0 auto;
    margin-top: 285px;
}
.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    position: fixed;
    right: 80px;
    top: 230px;
}
.scroll .social{
    margin-top: 15px;

}

/* Design de la section des personnages de Batman */

.batman-personnage{
   display: flex;
   justify-content: space-between;

}
#batman-cinema .titre{
    text-transform: uppercae;
    font-weight: bold;
    margin: 30px 0;
}
#batman-cinema .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;

}

   



